
img {
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
    background-color: none;
    border-radius: 15px;
}

.presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    width: 30%;
    display: flex;
    justify-content: space-between;
}