
.container-post-description {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  #description-post {
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .input-description[type="text"],
  .input-description[type="number"],
  .select-description {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .alert {
    color: #e10c02;
    font-size: 14px;
    margin-top: 5px;
  }
  